<div class="container small-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <h1>Drunkr.io</h1>
                    <p>Your Online Bartender: create, rate, and view drinks while also tracking your BAC </p>
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li routerLinkActive="active"><a *ngIf="!UserService.isLoggedIn" routerLink="/login">Log In</a></li>
                            <li routerLinkActive="active"><a *ngIf="!UserService.isLoggedIn" routerLink="/signup">Sign Up</a></li>
                            <li><a *ngIf="UserService.isLoggedIn" href="javascript:;" (click)="logOut()">Log Out</a></li>
                        </ul>
                        <ul class="nav nav-pills">
                            <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                            <li routerLinkActive="active"><a routerLink="/drinks">Drinks</a></li>
                            <li routerLinkActive="active"><a *ngIf="UserService.isLoggedIn" routerLink="/createDrink">Create a Drink</a></li>
                            <li routerLinkActive="active"><a routerLink="/bac">BAC Calculator</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="gutter">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>