<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">All Drinks</li>
</ol>
<div class="alert alert-info" *ngIf="isLoading">
    Loading...
</div>
<form (ngSubmit)="onSubmit()" class="form-inline">
  <div class="form-group">
    <input name="query" type="text" required class="form-control" id="query" placeholder="Search terms" [(ngModel)]="searchquery">
  </div>
  &nbsp;<button type="submit" class="btn btn-primary">Search</button>
  &nbsp;<a style="cursor:pointer" *ngIf="drinks != allDrinks" (click)="showAll()">Show all drinks</a>
</form>
<div class="alert alert-info" *ngIf="!isLoading && drinks.length == 0">
    No drinks
</div>
<div class="list-group" *ngIf="!isLoading">
    <a routerLink="/drinks/{{ drink.key.id }}" class="list-group-item" *ngFor="let drink of drinks">
        <h4 class="list-group-item-heading">{{ drink.propertyMap.Name }} ({{ drink.propertyMap.TasteRating }}/5)</h4>
        <p class="list-group-item-text">{{ drink.propertyMap.Description }}:
            <span *ngFor="let ing of drink.propertyMap.Ingredients; let isLast = last">
            {{ ing.amount }}
            {{ ing.unit}}
            {{ ing.name }}<span *ngIf="!isLast">,</span>
            </span>
        </p>
    </a>
</div>