<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">All Drinks</li>
</ol>
<div class="alert alert-info" *ngIf="isLoading">
    Loading...
</div>
<form (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="form-group">
    <label for="query" class="col-sm-2 control-label">Search Terms</label>
    <div class="col-sm-10">
      <input name="query" type="text" required class="form-control" id="query" placeholder="" [(ngModel)]="username">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
<div class="list-group" *ngIf="!isLoading">
    <a routerLink="/drinks/{{ drink.key.id }}" class="list-group-item" *ngFor="let drink of drinks">
        <h4 class="list-group-item-heading">{{ drink.propertyMap.Name }} ({{ drink.propertyMap.TasteRating }}/5)</h4>
        <p class="list-group-item-text">{{ drink.propertyMap.Description }}:
            <span *ngFor="let ing of drink.propertyMap.Ingredients; let isLast = last">
            {{ ing.amount }}
            {{ ing.unit}}
            {{ ing.name }}<span *ngIf="!isLast">,</span>
            </span>
        </p>
    </a>
</div>